<!DOCTYPE html>
<html ng-app="gratisDashboard">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
        <title>gratis | give freely&trade;</title>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/home.css">
        <link rel="stylesheet" href="css/theme.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="js/angular-chart.min.js"></script>
        <link rel="stylesheet" href="css/angular-chart.css" />
        <script src="js/app.js"></script>
    </head>
    
    <body>
        <nav class="navbar navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="caret"></span>
                </button>
                <a href="/" class="navbar-brand">gratis</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href>Store</a></li>
                    <li><a href>Simulator</a></li>
                    <li><a href>Support</a></li>
                    <li><a href>About</a></li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid" ng-controller="SidebarController as sidebar">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <h2>Dashboard</h2>
                    <ul class="nav nav-sidebar">
                        <li ng-class="{active: sidebar.isSet(0)}"><a href ng-click="sidebar.setTab(0)">Product Catalogue</a></li>
                        <li ng-class="{active: sidebar.isSet(1)}"><a href ng-click="sidebar.setTab(1)">Customer Insights</a></li>
                        <li ng-class="{active: sidebar.isSet(2)}"><a href ng-click="sidebar.setTab(2)">Product Insights</a></li>
                        <li ng-class="{active: sidebar.isSet(3)}"><a href ng-click="sidebar.setTab(3)">Customise Appearance</a></li>
                        <li ng-class="{active: sidebar.isSet(4)}"><a href ng-click="sidebar.setTab(4)">Manage Promotions</a></li>
                        <li ng-class="{active: sidebar.isSet(5)}"><a href ng-click="sidebar.setTab(5)">Account Settings</a></li>
                    </ul>
                </div>
            </div>
        
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="AppController as app">
                <div class="container-fluid" ng-show="sidebar.isSet(0)">
                    <div class="row">
                        <ol class="breadcrumb">
                            <li ng-repeat="b in breadcrumbs | orderBy:'-'"><a href ng-click="moveTreeTo(b)">{{b.name}}</a></li>
                        </ol>
                        <div class="col-lg-2 item" ng-repeat="item in current_items" ng-class="{catBg: item.is_cat}">
                            <a href ng-click="moveTreeTo(item)" class="thumbnail"><img ng-src="{{item.image_url}}" class="img-responsive" /></a>
                            <h3>{{item.name}}</h3>
                            <span ng-if="!item.is_cat">{{item.price | currency}}</span>
                            <a href ng-click="editItem(item)">Edit</a>
                            <a href class="delete-item" ng-click="removeItem(item)" title="Delete"><span class="glyphicon glyphicon-remove-circle"></span></a>
                        </div>
                        <div class="col-lg-2 item">
                            <a href class="thumbnail" ng-click="setAddItemOn(true)">+</a>
                        </div>
                    </div>
                    <div id="myModal" ng-show="isAddItemOn()" ng-controller="AddItemCtrl">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" ng-click="setAddItemOn(false)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">{{edit ? ("Edit " + edit_item.name + "...") : "Add new item..."}}</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <h3>Name:</h3>
                                        <input type="text" ng-model="edit_item.name" />
                                        <h3>Price:</h3>
                                        <input type="number" ng-model="edit_item.price" />
                                        <h3>Stock quantity:</h3>
                                        <input type="number" ng-model="edit_item.quantity" />
                                        <h3>Image URL:</h3>
                                        <input type="text" ng-model="edit_item.image_url" />
                                        <h3>Category?</h3>
                                        <input type="checkbox" name="is_cat" ng-model="edit_item.is_cat" />
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" ng-click="setAddItemOn(false)">Close</button>
                                    <button type="button" class="btn btn-primary" ng-click="addItem()">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-controller="InsightsCtrl">
                    <div ng-show="sidebar.isSet(1)">
                        <ul class="nav nav-tabs">
                            <li role="presentation" ng-class="{active: sidebar.isSubtabSet(1)}"><a href ng-click="sidebar.setSubtab(1)">Overview</a></li>
                            <li role="presentation" ng-class="{active: sidebar.isSubtabSet(2)}"><a href ng-click="sidebar.setSubtab(2)">Raw data</a></li>
                            <li role="presentation" ng-class="{active: sidebar.isSubtabSet(3)}"><a href ng-click="sidebar.setSubtab(3)">Add customers</a></li>
                        </ul>
                        <div class="container" ng-show="sidebar.isSubtabSet(1)" style="width: 80%; margin-left: 10%;">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Points Distribution:</h3>
                                    <canvas id="barChart" class="chart chart-bar" data="point_data" series="series" labels="point_ranges"></canvas>
                                </div>
                                <div class="col-lg-6">
                                    <h3># Registered Customers</h3>
                                    <canvas id="lineChart" class="chart chart-line" data="num_customers" labels="months"></canvas>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Customer Ages</h3>
                                    <canvas id="pieChart2" class="chart chart-pie" data="age_data" labels="age_labels" legend="true"></canvas>
                                </div>
                                <div class="col-lg-6">
                                    <h3>Product Popularity</h3>
                                    <canvas id="radarChart2" class="chart chart-radar" data="product_data" labels="product_labels"></canvas>
                                </div>
                            </div>
                        </div>
                        <div ng-show="sidebar.isSubtabSet(2)">
                            <h3>Customer list:</h3>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        Customer ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Points
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cust in customers">
                                        <td>{{cust.id}}</td>
                                        <td>{{cust.name}}</td>
                                        <td>{{cust.points}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="sidebar.isSubtabSet(3)">
                            <br />
                            <form ng-controller="AddCustomerCtrl">
                                Name: <input type="text" ng-model="user.name" /><br />
                                Points: <input type="number" ng-model="user.points" /><br />
                                <input type="submit" ng-click="addCustomer(user)" value="Add Customer" />
                            </form>
                        </div>
                    </div>

                    <div ng-show="sidebar.isSet(2)">
                        <ul class="nav nav-tabs">
                            <li role="presentation" ng-class="{active: sidebar.isSubtabSet(1)}"><a href ng-click="sidebar.setSubtab(1)">Overview</a></li>
                            <li role="presentation" ng-class="{active: sidebar.isSubtabSet(2)}"><a href ng-click="sidebar.setSubtab(2)">Raw data</a></li>
                            <li role="presentation" ng-class="{active: sidebar.isSubtabSet(3)}"><a href ng-click="sidebar.setSubtab(3)">Add customers</a></li>
                        </ul>
                        <div class="container" ng-show="sidebar.isSubtabSet(1)" style="width: 80%; margin-left: 10%;">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Points Distribution:</h3>
                                    <canvas id="barChart" class="chart chart-bar" data="point_data" series="series" labels="point_ranges"></canvas>
                                </div>
                                <div class="col-lg-6">
                                    <h3>Product Popularity</h3>
                                    <canvas id="radarChart" class="chart chart-radar" data="point_data" labels="point_ranges"></canvas>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Customer Ages</h3>
                                    <canvas id="pieChart2" class="chart chart-pie" data="age_data" labels="age_labels" legend="true"></canvas>
                                </div>
                                <div class="col-lg-6">
                                    <h3>Product Popularity</h3>
                                    <canvas id="radarChart" class="chart chart-radar" data="point_data" labels="point_ranges"></canvas>
                                </div>
                            </div>
                        </div>
                        <div ng-show="sidebar.isSubtabSet(2)">
                            <h2>Order list:</h2>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        Customer ID
                                    </th>
                                    <th>
                                        Paid
                                    </th>
                                    <th>
                                        Contents
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="order in orders">
                                        <td>{{order.customer_id}}</td>
                                        <td>{{order.paid}}</td>
                                        <td><ul><li ng-repeat="item in order.items">{{item.quantity}} &times; {{item.name}}</li></ul></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
